:root {
  --main: #eef1e6;
  --main-darker: #afc7d0;
  --secondary: #799fcb;
  --secondary-light: #95b4cc;
  --accent: #f9665e;
  --accent-light: #fec9c9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--accent-light);
  color: black;
}

body {
  background-color: var(--main);
}

main {
  padding: 32px 12px;
  width: 100%;
  min-height: 700px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-darker);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}

.trash-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
}

.trash {
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  color: red;
}
